
/* 
 *  style.css  
 */

.btn-primary {
    background-color: #ED6B22;
    border-color: #ED6B22;
    margin-bottom: 2px;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #f29561!important;
    border-color: #f29561!important;
    color: #fff;
}

ul.social-buttons li a:active,ul.social-buttons li a:focus,ul.social-buttons li a:hover {
    /* background-color: #fed136; */
    background-color: #b2b2b2;
    color: #fff
}